include ../../pug/_image

mixin slider()
    .slider.carousel(id="carousel")
        .slider__indicators.carousel-indicators 
            +indicator('carousel')
        .slider__inner.carousel-inner     
            .carousel-item.active.slider__item
                +slide 
            .carousel-item.slider__item
                +slide  
            .carousel-item.slider__item
                +slide 
        button(
            class="slider__button slider__button_left carousel-control-prev d-md-flex justify-content-center align-items-center" 
            type="button" 
            data-bs-target="#carousel"
            data-bs-slide="prev"
            )
            +image('svg', 'arrowleft')
        button(
            class="slider__button slider__button_right carousel-control-next d-md-flex justify-content-center align-items-center" 
            type="button" 
            data-bs-target="#carousel"
            data-bs-slide="next"
            )
            +image('svg', 'arrowright')          
