mixin indicator(id)
    .indicator.d-flex 
        button(
                class="indicator__item active" 
                aria-current="true" 
                aria-label="Slide 1" 
                data-bs-slide-to="0"
                data-bs-target=`#${id}`
                )
            button(
                class="indicator__item" 
                aria-label="Slide 2" 
                data-bs-slide-to="1"
                data-bs-target=`#${id}`
                )
            button(
                class="indicator__item" 
                aria-label="Slide 3" 
                data-bs-slide-to="2"
                data-bs-target=`#${id}`
                )